<?php

$year = \date('Y');
$header = <<<EOF
Votifier PHP Client

@package   VotifierClient
@author    Manuele Vaccari <manuele.vaccari@gmail.com>
@copyright Copyright (c) 2017-$year Manuele Vaccari <manuele.vaccari@gmail.com>
@license   https://github.com/D3strukt0r/votifier-client-php/blob/master/LICENSE.txt GNU General Public License v3.0
@link      https://github.com/D3strukt0r/votifier-client-php
EOF;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR1' => true,
        '@PSR2' => true,
        '@PhpCsFixer' => true,
        '@PhpCsFixer:risky' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'linebreak_after_opening_tag' => true,
        'mb_str_functions' => true,
        'no_php4_constructor' => true,
        'header_comment' => [
            'comment_type' => 'PHPDoc',
            'header' => $header,
        ],
    ])
    ->setFinder($finder)
    ->setCacheFile(__DIR__.'/.php_coding_standard_cache.json')
;
